<div class="section">
    <h2 class="section-headline">About Me</h2>
    <hr class="section-headline-hr">

    <div class="entry">
      <ul class="entry-content">
        <li><b>Passionate Computer Scientist</b>: I am a dedicated and passionate programmer with a strong background in CS, Econ, and Statistics</li>
        <li><b>Problem Solver with a Data-Driven Approach</b>: I enjoy solving problems using a data-driven approach by leveraging statistical techniques, machine learning algorithms, and my experience in programming to extract valuable insights from data</li>
        <li><b>Thank you for visiting my portfolio page</b></li>
      </ul> 
    </div>

    <div>

    </div>