<div class="section">
    <h2 class="section-headline">About Me</h2>
    <hr class="section-headline-hr">

    <div class="entry">
      
      <ul class="entry-content">
        <li>I am a Kent State University student with a major in computer science and a concentration in data science. I am passionate in studying data science and machine learning as well as working with R, C++, and Python</li>
        <li>My interest in data science and machine learning has led me to take courses data science courses like Decision Making Under Uncertainty and Big Data Analytics as well as Calc II, Linear Algebra, CS III, Discrete Math, Algorithms, and Structure of Programming. These courses have given me a strong foundation in statistical analysis, data visualization, and machine learning algorithms</li>
        <li>Thank you for visiting my webpage, and I look forward to the opportunity to work with you!</li>
      </ul>
<!-- 				<button class=button-download><a href="">Download Resume</a></button>
      <br>
      <button class=button-download><a href="">   Email Me   </a></button> -->
    </div>
  </div>