<div class="section">
  <h2 class="section-headline">Education</h2>
  <hr class="section-headline-hr">

  <div class="entry">
    <h3 class="entry-headline">B.S. Computer Science Major<span id="big-ehr" class="entry-headline-right">August 2020 - May 2025</span></h3>
    <p class=entry-subheadline>Concentration: Data Engineering</p>
    <h3 class="entry-headline">B.A. Economics Major</h3>
    <p class="entry-subheadline">Minor: Statistics</p>
    <p class="entry-subheadline"><span>Kent State,</span> <i>Kent Ohio</i></p>
    <p id="small-ehr" ><span>August 2020 - May 2025</span></p>
    <ul class="entry-content">
        <li>Key courses in computer science: CS III, Algorithms, Database Design, Big Data Analytics, Structure of Programming Languages</li>
        <!-- <li>Key courses in economics:</li> -->
        <li>Key courses in mathmatics: Calculus II, Linear Algebra, Decision Making Under Uncertainty</li>  
    </ul>
  </div>
</div>

<app-contact-me></app-contact-me>

<!-- <div class="section">
  <h2 class="section-headline">Tools</h2>
  <hr class="section-headline-hr">
</div> -->