<div class="section">
  <h2 class="section-headline">Education</h2>
  <hr class="section-headline-hr">

  <div class="entry">
    <h3 class="entry-headline">B.S. Computer Science Major<span id="big-ehr" class="entry-headline-right">August 2020 - May 2025</span></h3>
    <p class=entry-subheadline>Concentration: Data Engineering</p>
    <h3 class="entry-headline">B.A. Economics Major</h3>
    <p class="entry-subheadline">Minor: Statistics</p>
    <p class="entry-subheadline"><span>Kent State,</span> <i>Kent Ohio</i></p>
    <p id="small-ehr" ><span>Graduate May 2025</span></p>
    <ul class="entry-content">
        <li>Key courses in computer science: Algorithms, Database Design, Big Data Analytics, Data Mining Techniques, Artificial Intelligence</li>
        <li>Key courses in economics: Microeconomics, Macroeconomics, Econometrics, Game Theory, Data Acquisition Prep and Visualization</li>
        <li>Key courses in mathematics: Calculus II, Linear Algebra, Applied Statistics, Computational Statistics, Statistical Learning</li>  
    </ul>
  </div>
</div>

<div class="section">
  <h2 class="section-headline">Skills</h2>
  <hr class="section-headline-hr">

  <div class="entry">
    <ul class="entry-content">
      <li><b>Languages</b>: R (dplyr, caret, ggplot2), Python (Scikit-Learn, Pandas, Matplotlib), SAS, C++ SQL, HTML/CSS/JS </li>
      <li><b>Tools</b>: Git, Tableau, Node.js, Angular</li>
      <li><b>Machine Learning Models:</b>Linear Regression, Polynomial Regression, Random Effects, Fixed Effects, ARIMA, Logistic Regression, Naive Bayes, Decision Trees, k-Nearest Neighbors (kNN), Hierarchical Clustering</li>
      <li><b>Soft Skills:</b>Time Management, Critical Thinking, Leadership</li>
    </ul> 
  </div>
</div>

<app-contact-me></app-contact-me>