body
	background-color: #8C92AC
	color: white 	
	// background-color: white

	margin: 0

.full
	display: none !important

.container

	display: flex
	flex-wrap: wrap
	// align-items:stretch
	justify-content: center
	// align-content: stretch
	
	.box
		// color: white
		width: 33.333%
		min-height: 50vh

		&:nth-child(1)
			background-color: #F60000
		&:nth-child(2)
			background-color: #FF8C00
		&:nth-child(3)
			background-color: #FEDC56
		&:nth-child(4)
			background-color: #4DE94C
		&:nth-child(5)
			background-color: #3783FF
		&:nth-child(6)
			background-color: #4815AA
			
	.more-info:hover
		transition: .75s ease-in
		transition-delay: .3s
		filter: invert(100)
		color: black // Flashes gray then white, remove this and switch to backdrop-filter instead of filter, if you want text to have no animation

	//Device = Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) 
	.box
		width: 50% !important
		min-height: 34vh !important

	//Device = Tablets, Ipads (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
	.box
		width: 100% !important
		min-height: 27vh !important

	.more-info	
		order: 2
	.return 
		order: -1 !important
	.empty
		order: 3

	.hide-landscape
		display: none !important
	//Device = Low Resolution Tablets, Mobiles (Landscape)
@media (min-width: 481px) and (max-width: 767px) 
	.box
		width: 100% !important
		min-height: 27vh !important

	.more-info	
		order: 2
	.return 
		order: -1 !important
	.empty
		order: 3

	.hide-landscape
		display: none !important
	//Device = Most of the Smartphones Mobiles (Portrait)
@media (min-width: 320px) and (max-width: 480px)
	.box
		width: 50% !important
		min-height: 45vh !important

.header
	text-align: center
	display: block
	font-size: 16px
	width: 90%
	margin-left: auto
	margin-right: auto
	margin-top: -.5vh

	.heading
		font-size: 27
		margin-bottom: 1.5%
	.subheading
		
		margin-top: -0
		padding: 0
		margin-bottom: -0

	.subheading-small
		font-size: 15px
	.subheading-left, .subheading-right
		width: 50%
		height: 15%
		margin-bottom: 0
		margin-top: 0

	.subheading-right
		float: right
		text-align: right
	.subheading-left
		float: left
		text-align: left

.content
	// text-align: left
	font-size: 16px
	// margin-right: auto
	width: 80%
	margin-left: 10%  // Baed on width (80) 100-80 = 20 20/2 = 10 centers
	margin-top: 2%
	padding-top: 0
	float: bottom
	text-align: center

	ul
		display: table
		width: 100%
		// table-layout: fixed
	li, p
		margin-bottom: 1.5%

		div
			margin-bottom: 7.5%

			p
				margin: 0

	p
		text-align: center
		width: 100%


.more-info

	&:hover
		cursor: pointer

.button-download
	background-color: #00F800
	padding: 5% 7.5% 5% 7.5%
	border: 0
	border-radius: 25%

	&:hover
		background-color: #00E000
		transition: .2s 

.button-effect
	padding: 6%
	margin: 3%

	border-radius: 30%
	border: 2px solid black
	box-shadow: 3px 6px 0 0 #c20000
	cursor: pointer
	background-color: #F60000

	&:hover
		transform: translate(1px, 2px)
		box-shadow: 2px 4px 0 0 #c20000
		

	&:active
		transform: translate(2px, 4px)
		box-shadow: 1px 2px #8f0000

#button-rave
	&:hover
		animation: rave-button-keyframe steps(1) 10s 0s

#button-invert
	&:hover
		filter: invert(100)
		border-color: white

.content-bottom
	display: flex
	align-items: center
	justify-content: center
	flex-wrap: wrap



@keyframes rave-button-keyframe 
		10%
			background-color: #FF8C00
			box-shadow: 2px 4px 0 0 #cc7000
		20%
			background-color: #FEDC56
			box-shadow: 2px 4px 0 0 #e5c64d
		30%
			background-color: #4DE94C
			box-shadow: 2px 4px 0 0 #3eba3d
		40%
			background-color: #3783FF
			box-shadow: 2px 4px 0 0 #2c69cc
		50%
			background-color: #4815AA
			box-shadow: 2px 4px 0 0 #3a1188
		60%
			background-color: #F60000
			box-shadow: 2px 4px 0 0 #c50000
		70%
			background-color: #FF8C00
			box-shadow: 2px 4px 0 0 #cc7000
		80%
			background-color: #FEDC56
			box-shadow: 2px 4px 0 0 #e5c64d
		90%
			background-color: #4DE94C
			box-shadow: 2px 4px 0 0 #3eba3d
		100%
			background-color: #3783FF
			box-shadow: 2px 4px 0 0 #2c69cc