<nav class="navbar sticky-top navbar-expand-lg">
  <a class="navbar-brand" href="#">My Portfolio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" href="/education" [routerLink]="['education']">Education & About Me</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" href="/work-experience" [routerLink]="['work-experience']">Work Experience</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Programming</a>
          <a class="dropdown-item" href="#">Data Visualization</a>
          <a class="dropdown-item" href="#">Economics</a>
        </div>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="/about-me">About me</a>
      </li> -->
      <!-- <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li> -->

      <a href="https://github.com/Hunter-Jones" class="logo"><img src="../assets/logos/github-logo.png"  alt="Github"></a>
      <a href="https://www.linkedin.com/in/hunter-jones-13668012a/" class="logo"><img src="../assets/logos/linkedin-logo.png" alt="Linkedin"></a>
    </ul>
    
  </div>
</nav>