/* You can add global styles to this file, and also import other style files */
@import "../../styles.scss";

.navbar
{
  background-color: $main-color!important;
  padding-left: 27px;
}	
.nav-link
{
  color: white;
}
.logo img
{
  width: 33px;
  margin-right: 13px;
}
.active a
{
  color: $ternary-color!important;
  font-weight: 600;
}

.ms-auto
{
  margin-right: $navbar-space;
}
.navbar-brand
{
  margin-right: $navbar-space*2;
  font: 'Brush Script MT', cursive;
  font-family: 'Brush Script MT', cursive;
  font-size: 1.5em;
  font-weight: 600;
}