/* You can add global styles to this file, and also import other style files */
@import "../../styles.scss";

	





/*Navbar*/
.navbar
{
	margin-bottom: $space-between-navbar;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text, .navbar-nav .nav-link {
	color: white!important;
}
.navbar-custom {
	background-color: $main-color;
}
// .navbar {
	
// }
.navbar-content {
	background-color:$navbar-color;
  
  list-style-type: none;
  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;

  position: fixed;
  top: 0;
  z-index: 99;
  overflow: hidden;
 
	min-height: 6vh;
  width: 100%;
  
  top: 0;
  margin: 0;
  padding: 0;
}

.navbar-link {
  
  float: left;
}
.navbar-link a {
/*  float: left;*/
  color: white;
  padding: $navbar-padding;

	font-family: $headline-font;
	font-weight: $headline-font-weight; 
	text-align: center;
	text-decoration: none;
}
.navbar-link a:hover {
  background-color: $navbar-active-bgcolor;

}
// .navbar-right .nav-item{
// /*	float: right;
// 	margin-left: 50%;
// 	margin-right: 1vw;*/
// }
.navbar-link-right a {
	margin-right: 2vw;
}


.navbar-logo {
	height: 4.5vh;
}