/* You can add global styles to this file, and also import other style files */
@import "../../styles.scss";

.navbar
{
  background-color: $main-color!important;
  padding-left: 27px;
}	
.nav-link
{
  color: white;
}
// .logo
// {
  
// }
.logo img
{
  width: 27px;
  margin-right: 13px;
}

.active a
{
  color: $ternary-color!important;
  font-weight: 600;
}