/* You can add global styles to this file, and also import other style files */


	/*Fonts*/
$main-font: Arial, Helvetica, sans-serif;
$headline-font: 'Titillium Web';
$headline-font-weight: 600;

	/*Colors*/
$main-color: #228CDB;
$secondary-color:#E83F6F;
$ternary-color:#CCC;

$navbar-color: var($main-color);
/*Text Size*/
// $headline-size: ;
// $second-headline-size: ;

// $entry-headline-size: ;
// $entry-subheadline-size: ;

$text-size:1rem;

$button-text-size: 1.25rem;


	/*Text Color*/
$section-headline-color: $secondary-color;
$section-headline-hr-color: $secondary-color;

$entry-headline-color: $main-color;
$entry-headline-right-color:$ternary-color;
// $entry-subheadline-color:;
// $entry-content-color:;


$entry-headline-size: 1.5rem;
// $entry-subheadline-size:;
// $entry-content-size:;

/*Background Colors*/
$navbar-active-bgcolor: $secondary-color;

/*Spacing*/
$left-right-padding: 5vw;

$space-between-navbar: 5vw; /*May want to have same or different from sections*/
$space-between-sections: 5vh;

$space-between-headline: .25vh;
$space-between-headline-hr: 5vh;

$space-between-entries: 2.5vh;

$space-between-bulletpoints: .75vh;
$space-right-bulletpoints-symbol: .75vw;
$space-between-bulletpoints-left: 1.5rem;
$space-between-bulletpoint-top: 1.5vh;

$space-above-button: 3.5vh;

/*Misc*/
$navbar-padding: 14px 16px;

$button-padding: 16px 32px;
$button-min-width: 40%;

body {
	font-family: var(--main-font);

    margin: 0;
    padding: 0;
}

p, li {
	font-size: var(--text-size);
}

/*Button*/
.button-download {
    background-color: var(--main-color);
  
    text-align: center;
    cursor: pointer;
  
      min-width: var(--button-min-width);
      padding: var(--button-padding);
    border: none;
  
    display: grid;
    margin: auto;
  }
  .button-download:nth-of-type(1){
      margin-top: var(--space-above-button);
  }
  .button-download:hover {
    background-color: var(--navbar-active-bgcolor);
  }
  .button-download a {
      text-decoration: none!important;
      color: white!important;
      font-size: var(--button-text-size);
  }