<div class="section">
    <h2 class="section-headline">Projects</h2>
    <hr class="section-headline-hr">

    <div class="section-box-container">
        
        <div class="section-box">
            <a class="unstyled-a" href="https://github.com/Hunter-Jones/wet-catfood-analysis">
                <p><b>Wet Cat Food Analysis</b></p>
                <hr>
                <div class="section-box-image">
                    <img src="../../../assets/project-graphics/wetCatFood-fig1.png">
                </div>
                <hr>
                <div class="section-box-text">
                    <p>In this data science project, I analyzed wet cat food nutrients to see if most cat food brands contain optimal composition. I concluded that almost all wet cat foods met protein requirements</p>
                    <hr>
                    <p><span>Python</span> ● <span>Visualization</span> ● <span>Web Scraping</span></p>
                </div>
            </a>
        </div>
        <div class="section-box">
            <a class="unstyled-a" href="https://github.com/Hunter-Jones/IndexFundAnalysis">
                <p><b>Index Fund Food Analysis</b></p>
                <hr>
                <div class="section-box-image">
                    <img src="../../../assets/project-graphics/indexFund-fig1.png">
                </div>
                <hr>
                <div class="section-box-text">
                    <p>In this data science project, I analyzed which index funds compete with the S&P 500. I concluded that of the subsection of mutual funds I looked at, only ones in the tech sector outperformed the S&P 500 in recent years</p>
                    <hr>
                    <p><span>Python</span> ● <span>Visualization</span> ● <span>Finance</span></p>
                </div>
            </a>
        </div>
        <div class="section-box">
            <a class="unstyled-a" href="https://github.com/Hunter-Jones/dnd_analysis">
                <p><b>Wet Cat Food Analysis</b></p>
                <hr>
                <div class="section-box-image">
                    <img src="../../../assets/project-graphics/dnd-fig1.png">
                </div>
                <hr>
                <div class="section-box-text">
                    <p>In this data science project, I analyzed which method of D&D character creation generates a character with minimal variance and balancing. Within this paper, I came to the conclusion that using a method of rolling 3 six sided dice and rerolling any 1s generates the best results</p>
                    <hr>
                    <p><span>Python</span> ● <span>Visualization</span> ● <span>Statistics</span></p>
                </div>
            </a>
        </div>

        
        



    </div>
</div>
