<div class="section">
    <!-- <h2 class="section-headline">Programming Projects</h2>
    <hr class="section-headline-hr"> -->

    <div class="section-box-container">
        <div class="section-box">
            <p><b>Wet Cat Food Analysis</b></p>
            <hr>
            <div class="section-box-image">
                <img src="../../../assets/project-graphics/wetCatFood-fig1.png">
            </div>
            <hr>
            <div class="section-box-text">
                <p>This project focused on graphing cat nutritional value of cat food and analyzing what percentage of cat food brands actually meet reccomended standards</p>
                <hr>
                <p><span>Python</span> ● <span>Math</span></p>
            </div>
            
        </div>
        <!-- <div class="section-box">
            <p>B</p>
        </div>
        <div class="section-box">
            <p>C</p>
        </div> -->

    </div>

</div>
