<div class="section">
    <!-- <h2 class="section-headline">Programming Projects</h2>
    <hr class="section-headline-hr"> -->

    <div class="section-box-container">
        
        <div class="section-box">
            <a class="unstyled-a" href="https://github.com/Hunter-Jones/wet-catfood-analysis">
                <p><b>Wet Cat Food Analysis</b></p>
                <hr>
                <div class="section-box-image">
                    <img src="../../../assets/project-graphics/wetCatFood-fig1.png">
                </div>
                <hr>
                <div class="section-box-text">
                    <p>In this data science project, I analyzed wet cat food nutrients to see if most cat food brands contain optimal composition. I concluded that almost all wet cat foods met protein requirements.</p>
                    <hr>
                    <p><span>Python</span> ● <span>Visualization</span> ● <span>Web Scraping</span></p>
                </div>
            </a>
        </div>

        <!-- <div class="section-box">
            <a class="unstyled-a" href="https://github.com/Hunter-Jones/wet-catfood-analysis">
                <p><b>Wet Cat Food Analysis</b></p>
                <hr>
                <div class="section-box-image">
                    <img src="../../../assets/project-graphics/wetCatFood-fig1.png">
                </div>
                <hr>
                <div class="section-box-text">
                    <p>In this data science project, I analyzed wet cat food nutrients to see if most cat food brands contain optimal composition. I concluded that almost all wet cat foods met protein requirements.</p>
                    <hr>
                    <p><span>Python</span> ● <span>Visualization</span> ● <span>Web Scraping</span></p>
                </div>
            </a>
        </div> -->

        
        



    </div>
</div>
