<div class="section">
    <h2 class="section-headline">Work Experience</h2>
    <hr class="section-headline-hr">

    <div class="entry">
      <h3 class="entry-headline">Resident Assistant (RA) <span class="entry-headline-right">August 2021 - </span></h3>
      <p class="entry-subheadline"><span>Kent State,</span> <i> Kent Ohio</i></p>
      <ul class="entry-content">
        <li>Designed and executed monthly community-building programs focused on academic success, mental health, and diversity and inclusion</li>
        <li>Served as a liaison between 80 residents and housing staff and collaborated with other RAs to enforce policies and create a safe and inclusive environment</li>
        <li>Created and distributed biweekly infographics on restorative justice conflict resolution with fellow resident assistants </li>
        <li>Volunteered to participate in a biweekly meeting with the Director of Residence Life and various campus departments to discuss issues faced by residents across campus</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">Junior Software Developer <span class="entry-headline-right">May 2023 - August 2023</span></h3>
      <p class="entry-subheadline"><span>Comsat Architects,</span> <i> Rocky River Ohio</i></p>
      <ul class="entry-content">
        <li>Leveraged Python to create a command line program to extract text from Microsoft Word documents and compile an Excel file with key information, reducing the time engineers spent reading documents</li>
        <li>Constructed a Python REST API wrapper that collected and scraped data from various endpoints to provide a streamlined and accessible format for utilization </li>
        <li>Modified an existing codebase for an Angular-based webpage, adding functionality, improving responsiveness, and fixing bugs based on requests from clients </li>
        <li>Collaborated with stakeholders to align projects with business goals, ensuring all requirements and deadlines were met</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">Engineering Intern <span class="entry-headline-right">January 2020 - March 2020</span></h3>
      <p class="entry-subheadline"><span>Masters Precision Machining Inc,</span> <i> Kent Ohio</i></p>
      <ul class="entry-content">
        <li>Selected for one of four spots in my high school's engineering co-op to enhance engineering knowledge and develop workplace professionalism </li>
        <li>Demonstrated proficiency in operating Fusion 360 CAD software to design and create 3D models for CNC milling</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">Technology Intern <span class="entry-headline-right">July 2018 - March 2020</span></h3>
      <p class="entry-subheadline"><span>New Territory,</span> <i> Akron Ohio</i></p>
      <ul class="entry-content">
        <li>Engineered augmented reality experiences on Snapchat and Facebook using software to engage various stakeholders and showcase innovative marketing strategies, reaching over 1,000 people </li>
        <li>Designed a virtual reality guided meditation application for the elderly utilizing the Unity Game Engine</li>
        <li>Programmed an Amazon Alexa skill for a client with Node.js to provide company information and streamline customer inquiries</li>
        <li>Delivered on-demand technical support and customer service during video game tournaments</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">IT Intern <span class="entry-headline-right">June 2011 - July 2019</span></h3>
      <p class="entry-subheadline"><span>Thomarios,</span> <i> Copley Ohio</i></p>
      <ul class="entry-content">
        <li>Participated in the All Akron Student Engineering Program, engaging in a comprehensive series of engineering, professionalism, and leadership workshops, culminating in a career fair and internship opportunity</li>
        <li>Applied IT knowledge to update and optimize company computers, enhancing system performance and user experience</li>
      </ul>
    </div>
  </div>	