<div class="section">
    <h2 class="section-headline">Work Experience</h2>
    <hr class="section-headline-hr">

    <div class="entry">
      <h3 class="entry-headline">Resident Assistant (RA) <span class="entry-headline-right">August 2021 - </span></h3>
      <p class="entry-subheadline"><span>Kent State,</span> <i>Kent Ohio</i></p>
      <ul class="entry-content">
        <li>Designed and executed community-building programs focused on academic success, mental health, and diversity and inclusion</li>
        <li>Fostered positive relationships between residents and housing staff as a liaison between 80 residents and housing staff and collaborating with other RAs to enforce policies and create a safe and inclusive environment</li>
        <li>Utilized strong organizational and time management skills to balance demanding responsibilities with academic coursework</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">Engineering Intern <span class="entry-headline-right">January 2020 - March 2020</span></h3>
      <p class="entry-subheadline"><span>Masters Precision Machining Inc,</span> <i>Kent Ohio</i></p>
      <ul class="entry-content">
        <li>Selected as one of four students to participate in Hoban High School's Pre-Engineering III Co-op experience</li>
        <li>Demonstrated proficiency in using Fusion 360 CAD software to design and create 3D models for CNC milling</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">Technology Intern <span class="entry-headline-right">July 2018 - March 2020</span></h3>
      <p class="entry-subheadline"><span>New Territory,</span> <i>Akron Ohio</i></p>
      <ul class="entry-content">
        <li>Developed and implemented social augmented reality marketing experiences for Snapchat and Facebook using software manipulation techniques</li>
        <li>Designed a virtual reality guided meditation application for the elderly utilizing the Unity Game Engine</li>
        <li>Programmed an Amazon Alexa skill with Node.js to provide information company and streamlining customer inquiries</li>
        <li>Provided on-demand technical support and customer service during video game tournaments through New Territory Gaming</li>
      </ul>
    </div>

    <div class="entry">
      <h3 class="entry-headline">IT Intern <span class="entry-headline-right">June 2011 - July 2019</span></h3>
      <p class="entry-subheadline"><span>Thomarios,</span> <i>Copley Ohio</i></p>
      <ul class="entry-content">
        <li>Participated in the All Akron Student Engineering Program attending multiple engineering, professionalism, and leadership workshops including a career fair which lead to a 2-week internship as part of the program</li>
        <li>Collaborated with other IT department members to manage and maintain company computers, demonstrating a strong understanding of IT concepts and effective teamwork skills</li>
      </ul>
    </div>
  </div>	